.login-container{
    height: 100vh;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnGNxAaOc21nmToCP4VATgblre23_4ttNZag&usqp=CAU");
    background-size: cover;
    background-attachment: fixed;

}